apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-api
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/infrastructures/gateway-api/overlays/k3d
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
