apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kubernetes
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/infrastructures/kubernetes/overlays/k3d
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  # Kubernetesコンポーネント（CoreDNS等）の設定
  wait: true
  timeout: 10m
