apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: opentelemetry
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/infrastructures/opentelemetry/overlays/k3d
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: prometheus-operator
  # HealthCheckでOpenTelemetryの準備完了を確認
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: opentelemetry-operator
      namespace: opentelemetry-system
  wait: true
