apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: prometheus-operator
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/infrastructures/prometheus-operator/overlays/k3d
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: cilium
  # HealthCheckでPrometheus Operatorの準備完了を確認
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: kube-prometheus-stack
      namespace: prometheus-operator-system
  wait: true
