installCRDs: true

priorityClassName: system-cluster-critical

replicaCount: 1
resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    memory: 128Mi

webhook:
  replicaCount: 3
  priorityClassName: system-cluster-critical
  certManager:
    enabled: true
    cert:
      issuerRef:
        name: selfsigned-cluster-issuer
        kind: ClusterIssuer
        group: cert-manager.io
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      memory: 64Mi

serviceMonitor:
  enabled: true
  # alwaysRender ensures ServiceMonitor is rendered during offline templating without CRDs.
  renderMode: alwaysRender
  additionalLabels:
    release: kube-prometheus-stack
  interval: 30s
