replicas: 2

# NodeSelector and tolerations pin Karpenter to system-critical MNG alongside other bootstrap pods.
nodeSelector:
  node-role/system-critical: "true"

tolerations:
  - key: dedicated
    operator: Equal
    value: system-critical
    effect: NoSchedule

settings:
  clusterName: {{ .Values.cluster.name }}
  interruptionQueue: {{ .Values.karpenter.interruptionQueueName }}
