reloader:
  watchGlobally: true

  deployment:
    replicas: 1

    priorityClassName: system-cluster-critical

    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 128Mi

  podMonitor:
    enabled: false

  service:
    port: 9090

  serviceMonitor:
    enabled: true
    # Additional labels omitted because chart hardcodes release label leading to duplicate key error.
