mode: deployment
image:
  repository: otel/opentelemetry-collector-contrib
  tag: 0.143.1
serviceMonitor:
  enabled: true
prometheusRule:
  enabled: false
config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    prometheus:
      config:
        scrape_configs:
          - job_name: 'otel-collector'
            scrape_interval: 10s
            static_configs:
              - targets: ['0.0.0.0:8888']
    prometheus/internal:
      config:
        scrape_configs:
          - job_name: 'otel-collector-internal'
            scrape_interval: 10s
            static_configs:
              - targets: ['0.0.0.0:8888']
  processors:
    batch:
      send_batch_size: 1000
      send_batch_max_size: 1500
      timeout: 10s
    resource:
      attributes:
        - key: cluster.name
          value: kind
          action: upsert
    memory_limiter:
      check_interval: 1s
      limit_mib: 400
      spike_limit_mib: 100
  exporters:
    prometheus:
      endpoint: "0.0.0.0:8889"
      send_timestamps: true
      metric_expiration: 180m
      enable_open_metrics: true
    debug:
      verbosity: basic
    loki:
      endpoint: "http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push"
    otlp/tempo:
      endpoint: "tempo.monitoring.svc.cluster.local:4317"
      tls:
        insecure: true
      sending_queue:
        enabled: true
        num_consumers: 10
        queue_size: 5000
      retry_on_failure:
        enabled: true
        initial_interval: 5s
        max_interval: 30s
        max_elapsed_time: 300s
  extensions:
    health_check:
      endpoint: "0.0.0.0:13133"
    pprof:
      endpoint: 0.0.0.0:1777
    zpages:
      endpoint: 0.0.0.0:55679
  service:
    extensions: [health_check, pprof, zpages]
    pipelines:
      metrics:
        receivers: [otlp, prometheus]
        processors: [memory_limiter, resource, batch]
        exporters: [prometheus]
      metrics/internal:
        receivers: [prometheus/internal]
        processors: [memory_limiter, resource, batch]
        exporters: [prometheus]
      traces:
        receivers: [otlp]
        processors: [memory_limiter, resource, batch]
        exporters: [otlp/tempo]
      logs:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [loki]
ports:
  otlp:
    enabled: true
    containerPort: 4317
    servicePort: 4317
    hostPort: 4317
    protocol: TCP
  otlp-http:
    enabled: true
    containerPort: 4318
    servicePort: 4318
    hostPort: 4318
    protocol: TCP
  metrics:
    enabled: true
    containerPort: 8888
    servicePort: 8888
    protocol: TCP
  prom-metrics:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP
resources:
  limits:
    cpu: 256m
    memory: 512Mi
  requests:
    cpu: 256m
    memory: 512Mi
