# k3d environment specific values
kubeProxyReplacement: true
k8sServiceHost: k3d-k8s-local-server-0
k8sServicePort: 6443
ipam:
  operator:
    clusterPoolIPv4PodCIDRList: ["10.42.0.0/16"]
operator:
  replicas: 1
gatewayAPI:
  enabled: true
hostServices:
  enabled: false
hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true
dnsProxy:
  enabled: false
ipv6:
  enabled: false
enableIPv4Masquerade: true
