# =============================================================================
# FluxCD GitOps Sync Configuration for k3d
# =============================================================================
# This file configures FluxCD to sync with the Git repository.
#
# TODO: (production) Configure different branches for different environments
# =============================================================================
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 1m
  url: https://github.com/panicboat/platform.git
  ref:
    # TODO: (k3d) Change branch for different environments
    branch: main
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./kubernetes/clusters/k3d
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
