# =============================================================================
# FluxCD Kustomization for k3d
# =============================================================================
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - gotk-sync.yaml
