provider:
  name: aws

sources:
  - service
  - ingress
  - gateway-httproute

domainFilters:
  - panicboat.net
  - dystopia.city

policy: sync

txtOwnerId: eks-production

# Assumes cross-account role to manage hosted zones in the management account.
extraArgs:
  - --aws-assume-role=arn:aws:iam::559744160976:role/route53-zone-access

serviceAccount:
  create: true
  name: external-dns
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.cluster.externalDnsRoleArn }}
